body{
  /*font-family: 'Product Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
}

h6{
  color: black;
}

small{
  font-size: 11px;
  color: grey;
}

.row{
  float: left;
  margin-left: 25px;
}

.Kategori{
  color: #2F86A6;
  padding: 2px;
  margin: 3px;
  padding-left: 10px;
  border: 0;
  background: white;
  width: 4cm;
  height: 0.9cm;
  text-align: left;
  border-radius: 5px;
}

.Kategori:hover{
  filter: brightness(92.5%);
  opacity: 0.9;
}

.list-group-item{
  border: none;
  width: 5cm;
}

.container {
  float: left;
  margin-left: 2px;
}

.btn {
  background-color: #2F86A6;
  color: white;
  width: 4cm;
}

.btn:hover{
  background-color: #2F86A6;
  color: white;
  filter: brightness(95%);
}

.card{
  width: 4.5cm;
  margin-right: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top{
  padding: 10px;
  height: 3.6cm;
  width: 4.1cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-body{
  height: 3.5cm;
}

.card-footer{
  height: 1.5cm;
}

.product{
  height: 2cm;
  font-weight: bolder;
  text-align: left;
}

.price{
  height: 1.5cm;
  font-weight: bold;
  text-align: left;
}

.btn.spinner {
  background-color: #2F86A6;
  color: white;
  width:1cm;
  heiht:1cm;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

/*
.price-details h6{
    padding: 3% 2%;
}*/
