.header{
  position: absolute;
  width: 1512px;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #34BE82;
}

.from{
  position: absolute;
  width: 250px;
  height: 45px;
  left: 346px;
  top: 10px;

  background: #EFEFEF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.arrow{

}

.to{
  position: absolute;
  width: 250px;
  height: 45px;
  left: 669px;
  top: 10px;

  background: #EFEFEF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.search{
  position: absolute;
  width: 820px;
  height: 50px;
  left: 346px;
  top: 100px;

  background: #EFEFEF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.searchsymbol{
  position: absolute;
  width: 10px;
  height: 10px;
  left: 760px;
  top: 10px;

}
